
<h1>Discover Recipes</h1>

<div class="recipes_container">
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <%= link_to user_recipe_path(recipe.creator, recipe) do %>
        <%= image_tag recipe.avatar.small %>
        <div class="recipe_name"><%= recipe.name %></div>
      <% end %>

      <%= link_to user_path(recipe.creator) do %>
        <div>by <%= recipe.creator.email %></div>
      <% end %>
    </div>
  <% end %>
</div>
