<div class='wrapper'>
  <div class='content'>
    <h2 style='font-weight:bold'>Discover Recipes</h2>
    <div data-spy="scroll" data-target=".profile_recipes"</div>
      <div class="profile_recipes">
        <% @recipes.each do |recipe| %>
          <div class="recipe_container">
            <%= link_to user_recipe_path(recipe.creator, recipe) do %>
              <div class='recipe_title'><%= recipe.name %></div>
              <div><%= image_tag recipe.avatar.small %></div>
            <% end %>

            <%= link_to user_path(recipe.creator) do %>
              <div>by <%= recipe.creator.email %></div>
            <% end %>
          </div>
        <% end %>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "profile", locals: { user: current_user } %>
