<%= form_for @recipe do |f| %>
  <p>
    <span><%= f.label :name %></span>
    <span><%= f.text_field :name %></span>
  </p>
  <p>
    <span><%= f.label :servings %></span>
    <span><%= f.text_field :servings %></span>
  </p>

  <p> Ingredients:
    <ul class="ul_ingredients">
      <% @recipe.ingredients.order(created_at: :asc).each do |ingredient|%>
        <%= render partial: "ingredients/form", locals: {ingredient: ingredient} %>
      <% end %>
    </ul>
    <a id="new_ingredient" href="#">Add New Ingredient</a>
  </p>

  <p> Cooking Steps:
    <ol class="ol_cooking_steps">
      <% @recipe.cooking_steps.order(created_at: :asc).each do |cooking_step|%>
        <%= render partial: "cooking_steps/form", locals: {cooking_step: cooking_step} %>
      <% end %>
    </ol>
    <a id="new_cooking_step" href="#">Add New Cooking Step</a>
  </p>

  <%= f.submit %>
<% end  %>

<script>
  $("#new_ingredient").on('click', function() {
    $("<%= escape_javascript(render partial: "ingredients/form", locals: {ingredient: Ingredient.new})%>").appendTo(".ul_ingredients").hide().fadeIn();
  });

  $("#new_cooking_step").on('click', function() {
    $("<%= escape_javascript(render partial: "cooking_steps/form", locals: {cooking_step: CookingStep.new})%>").appendTo(".ol_cooking_steps").hide().fadeIn();
  });
</script>
