<h2><%= @recipe.name %>

  <% if @user == current_user %>
    <%= link_to "(edit)", edit_user_recipe_path(@user, @recipe) %>
  <% end %>
  <%= link_to "(copy)", user_recipe_copy_path(@user, @recipe) %>
</h2>
  <span>Contributed by: </span><%= link_to @recipe.creator.name, user_path(@user)%>
<div>
  <p>Servings : <%= @recipe.servings %> </p>
</div>

<%= image_tag @recipe.avatar %>

<div class="ingredients_container">
  <% @recipe.ingredients.each do |ingredient| %>
    <span><%= ingredient.name %></span>
    <span><%= ingredient.quantity %></span>
    <span><%= ingredient.unit_of_measurement.name %></span>
  </br>
  <% end %>
</div>

<div class="cooking_steps_container">
  <% @recipe.cooking_steps.each do |cooking_step| %>
    <p>
      <span><%= cooking_step.name %></span>
      <span><%= cooking_step.time %></span>
    </p>
  <% end %>
</div>
