<div class='wrapper'>
  <div class='content'>
    <h2 class='recipe_title'><%= @recipe.name %>

      <% if @recipe.creator == current_user %>
        <%= link_to (edit_user_recipe_path(@user, @recipe)) do%>
          <span class='title_link'><i class="fa fa-pencil"></i></i>&nbsp;edit recipe</span>
        <% end %>
      <% end %>
      <%= link_to (user_recipe_copy_path(@user, @recipe)) do%>
        <span class='title_link'><i class="fa fa-code-fork"></i>&nbsp;fork recipe</span>
      <% end %>
    </h2>

    <div>
      <span class='recipe_title'>Contributed by: </span><%= link_to @recipe.creator.name, user_path(@user)%>&nbsp;
      <span class='recipe_title'>Servings : <%= @recipe.servings %> </span>
    </div>

    <%= image_tag @recipe.avatar.big %>

    <div class="recipe_title section">Ingredients: </div>
    <div class="ingredients_container">
      <% @recipe.ingredients.each do |ingredient| %>
        <div class="row">
          <div class="col-md-10">√&nbsp;<%= ingredient.name %></div>
          <div class="col-md-2"><%= ingredient.quantity %></div>
        </div>
      <% end %>
    </div>

    <div class="recipe_title section">Cooking Steps: </div>
    <div class="cooking_steps_container">
      <% @recipe.cooking_steps.each do |cooking_step| %>
        <div class="row">
          <div class="col-md-2">Step <%=cooking_step.step_count%></div>
          <div class="col-md-8"><%= cooking_step.name %></div>
          <div class="col-md-2"><%= cooking_step.time %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "recipiests", locals: { users: @users}%>

<%= render partial: "profile", locals: { user: @recipe.creator } %>
