<div class="devise-forms">
  <h2>Log in</h2>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <p>
          Remember me:
          <%= f.check_box :remember_me %>
        </p>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Sign in" %>
    </div>
  <% end %>
  <div class="field">
    <%= render "devise/shared/links" %>

  </div>
</div>

<script>
  $('body').addClass('form-page')
</script>
