<!DOCTYPE html>
<html>
<head>
  <title>Transfoodmator</title>
  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poiret+One|Oswald|Pacifico|Josefin+Sans:400,700,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <header>
      <div id='header_container'>
        <%= link_to (root_path) do %>
          <h1 class='logo'>Transfoodmator</h1>
        <% end %>
        <% if user_signed_in? %>
          <div id='nav_menu' style='float:right'>
            <span style='float:left'><%= link_to 'Add Recipe', new_user_recipe_path(current_user)%></span>
            <span style='float:left'><%= link_to 'My Board', user_path(current_user)%></span>

            <a tabindex="0" style="float:right" role="button" data-toggle="popover" data-placement="bottom" data-trigger="focus"
            data-content="
              <div class='nav_links'>
                <table>
                  <tbody style='line-height: initial;'>
                    <tr>
                      <th colspan='2' style='text-decoration: underline'><%= current_user.email%></th>
                    </tr>
                    <tr>
                      <td><%= image_tag(current_user.avatar.small).gsub("\"", "'") %></td>
                      <td>
                        &nbsp;&nbsp;<%= current_user.name %><br/>
                        &nbsp;&nbsp;<%= link_to('<i class="fa fa-cog"></i> Edit'.html_safe, edit_user_registration_path).gsub("\"", "'") %><br/>
                        &nbsp;&nbsp;<%= link_to('<i class="fa fa-sign-out"></i> Out'.html_safe , destroy_user_session_path, method: :delete).gsub("\"", "'") %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>"> <%= image_tag current_user.avatar.tiny, class:'profile_pic_tiny' %>
            </a>
          </div>
        <% end %>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>
    <main>
      <%= yield %>
    </main>
</div>
</body>
</html>
