<!DOCTYPE html>
<html>
<head>
  <title>Transfoodmator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= link_to ("<h1>Transfoodmator</h1>").html_safe, recipes_path(@recipes) %>

<%= yield %>

</body>
</html>
